{% extends 'base.html' %}
{% load static %}
{% block titolo %} Home {% endblock titolo %}


{% block contenuto %}

<section>

	<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
		{% for categoria in lista_categoria %}
		<div class=" col-md-6 col-lg-5 col-xl-4 col-xxl-4 my-4">
		
			<div class="card text-bg-dark " style="width:25rem; height:24rem;" id="home_contenitore_immagineCategorie">
				<a href="{% url 'dettaglio_categoria' categoria.nome_categoria %}">
					<img src="{{ categoria.immagine_categoria.url }}" class="card-img view" alt="..."
						style=" min-width: 25rem; min-height:24rem; max-width: 25rem; max-height:24rem; "
						id="home_immaginiCategorie">
					<div class="mask align-items-center">
						<div class="d-flex justify-content-center align-items-center h-100">
							<h5 class="card-title text-light display-6 fw-bold">{{ categoria.nome_categoria }}</h5>
		
						</div>
					</div>
				</a>
		
			</div>
		
		</div>
		
		{% endfor %}
	</div>


</section>
{% endblock contenuto %}