{% extends 'base.html' %}
{% load static %}
{% block titolo %} {{nome_categoria}} {% endblock titolo %}


{% block contenuto %}
<div class="container">
    <div class="row" style="text-align: center">
        <div class="col">
            <div>
                <h1 th:case="0">Nessuna Prodotto Inserito!</h1>
                <div th:case="*">
                    <h2>{{nome_categoria}}</h2>
                    <table id="listProdottiTable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Categoria</th>
                                <th>SottoCategoria</th>
                                <th>Aggiungi al carrello</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>{{nome_categoria}}</td>
                                <td>{{nome_categoria.Sottocategoria.nome_Sottocategoria}}</td>
                                <td>
                                    <a class="btn btn-primary"
                                        href="#">Aggiungi al carrello</a>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

$(document).ready(function () {
    $('#listProdottiTable').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.13.6/i18n/it-IT.json"
        }
    });
});

</script>


{% endblock contenuto %}