{% extends 'base.html' %}

{% block titolo %} Azienda {% endblock titolo %}

{% block contenuto %}

<div class="container">

    <div class="row py-4">
        <div class="col-12">
            <h1 class="fw-bold text-center">Storia dell'azienda</h1>
        </div>    

    </div>  


    <div class="row featurette py-3">
        <div class="col-xl-8">
          <p class="fs-5">

                Nell’anno 1933 nasce la ditta SANI EGISTO e FIGLIO con sede a Montevarchi (AR), 
                la cui attività principale era quella di produrre ed esportare scope di erica      
                prodotti chimici. Le scope venivano prodotte nei cantieri di Montervarchi (AR) 
                e Ambra (AR) impiegando complessivamente 50 addetti. 
                <br>
                I prodotti chimici acquistati dalle più importanti ditte produttrici nazionali 
                e rivenduti sul mercato locale erano prevalentemente: acido solforico, acido nitrico, 
                acido cloridrico , acido acetico, ipoclorito di sodio e carbonato di sodio. 
                <br>
                Nell’annuario delle industrie varie della confederazione fascista degli industriali 
                del 1940 la Ditta era citata nel capitolo riguardante la produzione di scope. 
                <br>
                L’attività è continuata anche durante la seconda guerra mondiale fino 
                alla morte del fondatore (sig. Egisto) nel 1957, al quale è succeduto il figlio Giuseppe.





          </p>
        </div>
        <div class="col-xl-4 fotoStoriaAzirenda" >
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="370" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 370x400" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">370x400</text></svg>
        </div>
    </div>


    <div class="row featurette py-3">
        <div class="col-xl-12">
            <p class="fs-5">
                L’azienda prese il nome di SANI GIUSEPPE fu Egisto ed ha proseguito la stessa attività con 10 addetti. Tale riduzione di personale è stata conseguenza di affidamento della produzione di scope di erica a personale esterno (artigiani). 
                    <br>    
                Nel 1974 la ditta si trasforma in SANISCOPE-CHIMICA S.r.l. fino alla data odierna, continuando con successo l’attività di produzione e vendita di scope (affidata quasi totalmente a ditte esterne) e l’attività di commercio di molti prodotti chimici, con la preparazione di particolari soluzioni (ad esempio acido solforico per batterie, soluzioni di ipoclorito, ecc).
            </p>
        </div>
       
    </div>


    <div class="row featurette py-3">

        <div class="col-xl-4 fotoStoriaAzirenda">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="370" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 370x400" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">370x400</text></svg>
          </div>

        <div class="col-xl-8">
            <p class="fs-5">
                SANISCOPE-CHIMICA ad oggi la nel suo settore è un azienda leader a livello locale 
                e da sempre ha contribuito allo sviluppo e al mantenimento di una forte identità aziendale 
                perseguendo i propri obiettivi commerciali. 
                <br>
                La nostra esperienza nella progettazione, formulazione, produzione e vendita di prodotti chimici, è al servizio dei nostri clienti, 
                <br>
                garantendo, loro competenza e ricerca e innovazione. Grazie ad un incremento ed a una 
                <br>
                diversificazione della clientela la SANISCOPE-CHIMICA S.r.l. è in fase di ampliamento dei prodotti 
                <br>
                trattati e del mercato di riferimento con conseguente realizzazione di investimenti di carattere immobiliare, 
                <br>
                di attrezzature e di impianti ad alto contenuto tecnologico.
                <br>
                Nel 2012 l’Azienda ha festeggiato gli 80 anni di attività.
            </p>
        </div>

        
    </div>



    <div class="row featurette py-3 fotoStoriaAziendaMobile" style="display:none;">
        <div class="col-6">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="450" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 450x400" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">450x400</text></svg>
        </div>
        <div class="col-6 text-end" >
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="450" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 450x400" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">450x400</text></svg>
        </div>
    </div>


</div>    


{% endblock contenuto %}