.fotoStoriaAziendaMobile {
    display: none;
}


/* media query base html */

@media screen and (max-width: 992px) {
    
    
    #bottoniLoginSignup{
        display: -webkit-inline-box;
    }

    
    #linkfooterlogo{
        font-size: small;
        display: inline-grid;
        justify-content: center !important;
    }

    
    #EtichettaturaAmbientale{
        padding-top: 25px;
        display: inline-grid;
        justify-content: center !important;
    }

    
    #linkIconefooter{
        justify-content: center !important;
        padding-top: 25px;
        /*padding-right: 40%;*/
    }



  }

  /* media query storia azienda */


  @media screen and (max-width: 1200px) {

    .fotoStoriaAzirenda{
        display: none;
    }

    .fotoStoriaAziendaMobile{
        display: flex !important;
    }

  }   




  